/.metadata/
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/SysPet-api.iml
.idea/vcs.xml
*.class
*.log
.idea/
.classpath
.project
.settings/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.backup
release.properties
dependency-reduced-pom.xml
spring-boot-starter-*.log
application.yml
*.jar
*.sql
.DS_Store
Thumbs.db
